.header1{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1px 90px;
    margin: 0px;

}
body{
    line-height: 1.2;
}
.header1 a{
    font-size: 14px;
    font-family: my_font;
    color: white;
    text-decoration: underline;
}
.header1 ul li{
    list-style: none;
    margin-right: 30px;
}
.header1 ul{
    display: flex;
    
}
.section1{
    width: 100%;
    background-color: #333;
}
.header1 .padd li{
    margin-top: 20px;
}
header{
    width: 100%;
    height: 59px;
    padding: 0px 60px 0px 0px;
    border-top:1px solid rgba(128, 128, 128, 0.796) ;
    border-bottom:1px solid rgba(128, 128, 128, 0.796) ;
    margin-top: 5px;

}
nav{
    display: flex;
}
.bg-light{
    background-color: transparent !important;
}
header ul li{
    list-style: none;
    border-left: 1px solid #a5a5a5;
    border-right: 1px solid #a5a5a5;
    padding: 3px 35px 8px 16px;
    height: 58px;
    text-align:left;
    vertical-align: middle;
}
header ul li a{
    font-size: 15px;
    font-family: my_font_5;
    font-weight: 400;
    letter-spacing: -.3px;
    color: #a5a5a5;
}
header ul li a:hover{
    color: black;
    font-size: 15px;
    font-family: my_font_5;
    font-weight: 400;
    letter-spacing: -.3px;
    text-decoration: none;
}
header ul{
    display: flex;
    width: 100%;
}
header img{
    width: 250px;
}
header .img{
   width: 25%;
   padding-left: 113px;
   border-left:1px solid white ;
}
a{
    text-decoration: none;
}
.section2{
    width: 100%;
    border-bottom: 1px solid  rgba(128, 128, 128, 0.796);
    padding: 7px 0px 5px 111.6px;
}
.search{
    display: flex;
}
.form{
    display: flex;
    height: 40px;
    margin-right:80px;
}
.form .get{
    padding: 8px 250px 11px 10px;
    font-size: medium;
    border: 1px solid  rgba(128, 128, 128, 0.796);
}
.form .button{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
    font-size:small;
    color:  rgba(11, 10, 10, 0.796);
    border: 1px solid  rgba(128, 128, 128, 0.796);
    background-color: white;
}
.search p{
    font-size: smaller;
    text-align: center;
    color: rgba(0, 0, 0, 0.785);
    padding-top: 15px;
    margin-right: 29px;
}
.search p i{
    color: black;
}
.button3{
    height: auto;
}
.basket{
    padding: 13px 25px 13px 25px;
    border-radius:3px;  
    background-color: rgb(33, 33, 33);
    color: white;
    border-radius: 5px;
    font-size:small;
    margin-right: 12px;
}
.scales{
    background-color: white;
    border-radius:3px;
    border: 1px solid rgba(128, 128, 128, 0.796);
    padding: 11px 10px;
    margin-right: 12px;
    color: #333;
}
.scales:hover{
    color: purple;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.796);
    padding: 11px 10px;
    margin-right: 12px;
}
.heart{
    padding: 11px 12px 11px 12px;
    border-radius:3px;
    border: 1px solid rgba(128, 128, 128, 0.796);
    background-color: white;
    margin-right: 12px;
}
.heart:hover{
    color: purple;
    background-color: white;
    border-radius:3px;
    border: 1px solid rgba(128, 128, 128, 0.796);
    padding: 8px 250px 11px 10px;
    margin-right: 12px;
}
.signup{
    border: 1px solid white;
    background-color: white;
    font-size: small;
    font-weight: 800;
}
.signup:hover{
    border: 1px solid white;
    background-color: white;
    color: purple;
}
.carousel-container {
    position: relative;
    width: 84.9%;
    margin: 0 auto;
    overflow: hidden;
}
.carousels {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-img{
    min-width: 100%;
}
.carousel-img img{
    height: 380px; 
    width: 100%;
    overflow: hidden;
}
.points {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.point {
    width: 12px;
    height: 12px;
    background-color: #a4a0a0c6;
    margin: 0 5px;
    border-radius: 100%;
    
}
.point.active {
  background-color: #888;
}

/* footer*/
.carousel-container2 {
    position: relative;
    width: 89%;
    margin: 0 auto;
    overflow: hidden;
}
.carousels2 {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-img2{
    min-width: 100%;
}
.carousel-img2 img{
    height: 200px; 
    width: 100%;
    overflow: hidden;
}
.points2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.point2 {
    width: 12px;
    height: 12px;
    background-color: #d8d5d5c6;
    margin: 0 5px;
    border-radius: 100%;
    
}
.point2.active {
  background-color: #b4b2b2;
}
/*footer*/
.section3{
    width: 100%;
    padding-bottom: 20px;
}
.section4{
    width: 100%;
    background-color: #cac7c730;
    padding-top: 20px;
}
.products{
    display: flex;
    background-color: white;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #4948483f;
    padding: 20px;
    justify-content: space-between;

}
.product{
    position: relative;
    height: 82px;
    border-radius: 3px;
    width: 23%;
    display: table-cell;
    vertical-align: middle;
    
}
.links a{
    font-family: my_font_6;
    letter-spacing: -.45px;
    text-decoration: none;
    color: black;
    padding: 0 75px 0 13px;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    color: #151515;
    margin-bottom: 8px;
}
.a1{
    font-weight: bolder;
}
.links {
    border: 1px solid #4948483f;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px 15px 0px;
}
.links1{
    border: 1px solid #4948483f;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px 1px 0px;
}
.links1 a{
    font-family: my_font_6;
    letter-spacing: -.45px;
    text-decoration: none;
    color: black;
    padding: 0 75px 0 13px;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    color: #151515;
    margin-bottom: 8px;
}
.product .pr-image img{
    position: absolute;
    right: -10px;
    top: -10px;
    height: auto;
}
.img1{
    width: 186px;
}
.img2{
    width: 149px;
}
.img3{
    width: 118px;
}
.img4{
    width: 147px;
}
.online{
    display: flex;
    background-color: white;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    border-left: 1px solid #4948483f;
    border-right: 1px solid #4948483f;
    border-top: 1px solid #4948483f;
    padding: 20px;
}
.online .first{
    width: 100%;
}
.blue{
    background: rgba(140, 76, 242, .84);
    text-align: center;
    padding: 9px 0 11px 0;
    font-family: my_font, sans-serif;
    font-size: 20px;
    width: 100%;
    color: white;
}
.blue p{
    margin: 0px;
}
.card{
    padding: 10px;
    position: relative;
    overflow: hidden;
    width: 25%;
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    margin: 0px;
    border: 1px solid #4948483f 
}
.card2{
    padding: 10px;
    position: relative;
    overflow: hidden;
    width: 25%;
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    margin: 0px;
    border: 1px solid #4948483f 
}
.card3{
    padding: 10px;
    position: relative;
    overflow: hidden;
    width: 25%;
    flex: 0 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    margin: 0px;
    border: 1px solid #4948483f 
}
.image{
    width: 100%;
    padding: 20px 20px 0 20px;
    justify-content: center;
    display: block;
    height: 250px;
}
.image p{
    left: 50%;
    top: -7px;
    transform: translate(-50%, 0%);
    width: 176px;
    position: absolute;
    background-color: red;
    color: white;
    padding: 13px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.image img{
    width: 250px;
    height: auto;
}
.card-body{
    padding: 10px 0px;
    height: 35px;
}
.carousel{
    width: 100%;
    margin: 0;
    overflow: hidden;

}
.carousel2{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.carousel3{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.cards {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(0);
    width: 100%;
    margin: 0px;
    border: 1px solid #4948483f ;
}
.cards2 {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(0);
    width: 100%;
    margin: 0px;
    border: 1px solid #4948483f ;
}
.cards3 {
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(0);
    width: 100%;
    margin: 0px;
    border: 1px solid #4948483f ;
}
.white{
    width: 100%;
    display: flex;
    border: 1px solid #4948483f ;
    height: 50px;
}
.sale{
    width: 92%;
    border: 1px 0px 1px 1px solid #4948483f ;
    text-align: center;
    padding: 13px 0 13px 101px;
    font-family: my_font, sans-serif;
    font-size: 20px;
    margin: 0;
}
.button2{
    width: 4%;
    border: 1px solid #4948483f ;
    text-align: center;
    font-family: my_font, sans-serif;
    font-size: 20px;
}
.button2 button{
    width: 100%;
    border:0.5px solid #4948483f ;
    text-align: center;
    padding: 16px 0 14px 0px;
    font-family: my_font, sans-serif;
    font-size: 15px;
    color: #1616163f;
    background-color: white;
}
.button2 button i{
    color:rgb(28, 28, 28);
}
.card-body a{
    font-family: my_font_4;
    font-size: 17px;
    letter-spacing: -.7px;
    color: #151515;
    display: block;
}
.card-body a:hover{
    font-family: my_font_4;
    font-size: 17px;
    letter-spacing: -.7px;
    color: rgb(254, 7, 254);
    text-decoration: none;
    display: block;
}
.card-body {
    width: 100%;
    font-weight: 300;
    display: block;
    /* height: 47px; */
    padding: 38px 0 0px 0px;
}
.price {
    width: 200px;
    height: 70px;
    background-color: #ffffff;
    position: relative;
    font-size: 20px;
    top: 44px;
    overflow: hidden;
}
.strike {
    position: absolute;
    top: 12px;
    left: -2px;
    width: 19%;
    height: 1.5px;
    background-color: red;
    transform: rotate(19deg);
}
.span1{
    color: #000;
    font-size: 16px;
    font-weight: lighter;
    font-family: my_font_3;
}
.span2{
    position: relative;
    top: -4px;
    font-size: 10px;
    right: 3px;
    margin-left: 3px;
}
.span3{
    font-size: 24px;
    font-weight: 600;
    color: #343434;
    font-family: sans-serif;
}
.span4 {
    position: absolute;
    left: 89px;
    top: 2px;
    font-size: 12px;
}
.span5{
    position: absolute;
    left: 58px;
    top: 2px;
    font-size: 12px;
}
.span7{
    position: absolute;
    left: 101px;
    top: 2px;
    font-size: 12px;
}
.strike2 {
    position: absolute;
    top: 12px;
    left: -5px;
    width: 16%;
    height: 1.5px;
    background-color: red;
    transform: rotate(19deg);
}
.span8{
    position: absolute;
    left: 67px;
    top: 2px;
    font-size: 12px;
}
.span6{
    position: absolute;
    left: 80px;
    top: 2px;
    font-size: 12px;
}
.scales2{
    padding: 15px 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #00000057;
}
.heart2{
    padding: 15px 12px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #00000057;
}
.add{
    border-left: 1px solid #e4dc88;
    padding: 16.7px 4px 13px 12px;
    font-size: 15px;
    color: #151515;
    font-family: sans-serif;
    font-weight: 300;
}
.shopping{
    background-color: #fff799;
    border: 1px solid #e4dc88;
    min-width: 50%;
    padding: 4px 0px 7px 0px;
    border-radius: 3px;
}
.buy span i{
    padding: 12px 16px 7px 1px;
    color: #151515;

}
.price:hover + .buy{
    display: block;
}
.price:hover{
    display: none;
}
.buy{
    display: none;
    border-top: 1px solid #a5a5a5;
    padding-top: 3px;
}
.buy:hover{
    background-color: #fff79992;
}
button{
    cursor: pointer;
}

.noblue{
    background: rgba(205, 204, 205, 0.448);
    text-align: center;
    padding: 6px 0 1px 0;
    font-family: my_font, sans-serif;
    font-size: 20px;
    width: 100%;
    color: #151515;
}
.advice{
    background-color: white;
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    border-left: 1px solid #4948483f;
    border-right: 1px solid #4948483f;
    border-bottom: 1px solid #4948483f;
    padding: 0px 20px;
    padding-bottom: 27px;
}
.advice .first{
    width: 100%;
}
.tv{
    width: 100%;
    height: 100%;
    padding-right: 18px;
}
.components{
    width: 100%;
    padding: 20px 0px;
    display: flex;
}
.for-img img{
    width: 100%;
    height: auto;
}
.components .col-md-6{
    padding: 0px;
}
.for-tv{
    width: 100%;
    background-color: #d8f7f8;
    border: 1px solid #a5d8da;
    border-top: none;
}
.for-tv a:hover{
    width: 100%;
    display: block;
    padding: 15px 20px 12px;
    font-size: 15px;
    font-weight: 700;
    color:rgb(205, 38, 205);
    text-transform: capitalize;
    font-family: my_font_6;
    text-decoration: none;
}
.for-tv a{
    width: 100%;
    display: block;
    padding: 15px 20px 12px;
    font-size: 15px;
    font-weight: 700;
    color: #151515;
    text-transform: capitalize;
    font-family: my_font_6;
    text-decoration: none
}
.for-two{
    display: flex;
    border: 1px solid rgb(212, 212, 212);
}
.for-two .col-md-6{
    display: flex;
    padding: 15px 0 12px 0px;
}
.left{
    padding: 0 20px;
    min-width: 90px;
}
.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-size: 0;
}
.for-two .col-4{
    padding: 0px;
}
.left a{
    width: 100%;
    display: block;
}
.right{
    display: table-cell;
    float: none;
    color: #151515;
    padding: inherit;
}
.right a{
    color: #151515;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    font-family: my_font_5;

}
.right p{
    margin-top: 5px;
    font-size: 17px;
    font-style: normal;
    font-weight: bolder;
    font-family: my_font_5;
}
.up{
    display: flex;
    padding-bottom: 15px;
}
.up img{
    width: 263px;
    height: 248px;
}
.up .ahrefs a{
    display: block;
    font-size: 15px;
    font-family: my_font_5;
    font-weight: 400;
    color: #737373;
    border-bottom: 1px solid rgb(208, 200, 200);
    padding: 7px 0;
}
.up .ahrefs a:hover{
    display: block;
    font-size: 15px;
    font-family: my_font_5;
    font-weight: 400;
    color: #cf42d6;
    border-bottom: 1px solid rgb(208, 200, 200);
    padding: 7px 0;
    text-decoration:none ;
}
.down .ahrefs a:hover{
    display: block;
    font-size: 15px;
    font-family: my_font_5;
    font-weight: 400;
    color: #cf42d6;
    border-bottom: 1px solid rgb(208, 200, 200);
    padding: 9px 0;
    text-decoration:none ;
}
.up .ahrefs a span{
    float: right;
}
.card{
    width: 25%;
}
.up .ahrefs{
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(210, 200, 200);
}
.down .ahrefs{
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid rgb(176, 167, 167);
}
.down{
    display: flex;
    padding-top: 20px;
}
.down .ahrefs a span{
    float: right;
}
.down .ahrefs a{
    display: block;
    font-size: 15px;
    font-family: my_font_5;
    font-weight: 400;
    color: #737373;
    border-bottom: 1px solid rgb(176, 167, 167);
    padding: 9px 0;
}
.down img{
    width: 262px;
    height: 245px;
}

/* footer*/
.section5{
    background-color: #cac7c730;
    width: 100%;
    padding: 20px 35px;
}
.last1{
    width: 100%;
    display: flex;
    padding: 50px 67px 20px 60px;
}
.last1 a{
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-size: 1rem;
}
.flex1 {
    display: flex;
    justify-content: space-between;

}
/* .flex1 div nav {
    display: flex;
    flex-direction: column; 
    padding: 0px;

} */
.section6{
    background-color: #cac7c730;
    border-top: 1px solid rgb(144, 144, 144);
    padding: 11px 110px;
    width: 100%;

}
.section6 .row .cool{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fa-xl{
    font-size: 2em;
}
.text1 .flex1 nav {
    display: flex;
    flex-direction: column;

} 


@media screen and (Max-width:768px){
    .header1{
        display: flex;
        flex-direction: column;
        padding: 5px 0px;

    }
    .navbar{
        padding-right: 10px;
        padding: 0px;
        flex-direction: row;
        display: flex;
    }
    .header1 ul{
        padding:0px 20px;
        padding-right: 0px;
        
    }
    .not{
        flex-direction: column;
        text-align: center;
    }
    .padd{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    header{
        padding: 0px -4px;
        padding-right: 36px;
    }
    header .img{
        padding-left: 31px;
        padding-right: 31px;
    }
    header img{
        width: 200px;
    }
    .header1 ul li{
        margin-right: 36px;
        margin-top: 10px;
    }
    .search{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container-fluid{
        padding-right: 7px;
    }
    .section2 p{
        display: none;
    }
    .section2{
        padding-left: 31px;
        padding-right: 31px;
    }
    .form .get{
        width: 100%;
        padding: 8px 0px 11.5px 10px
     }
    .form {
         margin-right: 0px;
         height: 40.5px;
         width: 100%;
         
    }
    form{
        width: 100%;
    }
    .form .button{
        padding: 0px;
        width: 11%;
    }
    .signup span{
        display: none;
    }
    .row{
        width: 100%;
    }
    .signup{
        font-size: larger;
    }
    .basket {
        margin-right: 144px;
    }
    .button3{
        margin: 7px 0px;
    }
    .collapse{
        background-color: rgb(192, 189, 189);
        z-index: 2;
    }
    .ok{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .flex1 div nav{
        flex-direction: row;
    }






    .carousel-img img{
        height: 150px;
        width: 95%;
    }
    .products{
        display: flex;
        flex-direction: column;
        padding: 0px;
        background-color: transparent;
    }
    .product{
        width: 100%;
        margin-bottom: 5px;
        background-color: white;
    }
    .product .pr-image img{
        width: 100px;
        height: 68px;
        top: 8px;
        right: 5px;

    }
    .online{
        padding: 0px;
        margin-top: 10px;
    }
    .sale {
        padding: 8px 0px 8px 45px;
        width: 80%;
        font-size: 17px;
    }
    .button2 button{
        padding: 11.5px 10px;
    }
    .button2{
        width: 10%;
    }
    .white {
        height: 44px;
    }
    .card{
        width: 100%;
        overflow: visible;
    }
    .advice {
        padding: 0px;
    }
    .card2{
        width: 100%;
        overflow: visible;
    }
    .components{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tv{
        flex-direction: column;
        width: 100%;
        padding: 7px 3px;
    }
    .for-two{
        flex-direction: column;
        width: 100%;
    }
    .for-two .col-md-6{
        border-bottom: 1px solid rgb(192, 192, 192);
        display: flex;
    }
    .up{
        flex-direction: column;
    }
    .down{
        flex-direction: column;
    }
    
    .down img{
        width: 100%;
        height: 300px;
    }
    .card3{
        width: 100%;
        overflow: visible;
    }
    .lastsamurai{
        padding: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }







    .carousel-container2{
        width: 100%;
    }
    .carousel-img2 img{
        height: auto;
        width: 94.5%;
    }
    .last1 {
        padding: 0px;
        flex-direction: column;
    }
    .flex1{
        flex-direction: column;
    }
    .section6{
        padding: 10px;
    }
    .section6 .row .cool{
        padding:0px 31px;
        flex-direction: column;
    }
    .mm{
        justify-content: space-around;
        margin-top: 10px;
        width: 100%;
    }
    .up img{
        width: 100%;
    }
    
}
@media screen and  (min-width: 1194px) and (Max-width:1480px) {
    header ul li{
        padding: 0px 23px 1px 5px;
    }
    header ul li a{
        font-size: 13px;
    }
    header img{
        width: 204px;
        /* padding-left: 104px; */
    }
    header .img{
        padding-left: 93px;
    }
    .section2{
        padding: 5px 0px 5px 93.6px;
    }
    .form{
        margin-right: 7px;
    }
    .form .get{
        padding: 8px 138px 11px 10px;
    }
    .search p {
        margin-right: 9px;
    }
    .heart {
        margin:  0px;
    }



    .img1{
        width: 130px;
    }
    .img2{
        width: 120px;
    }
    .img3{
        width: 107px;
    }
    .img4{
        width: 104px;
    }
}
@media screen  and (min-width: 1109px) and (Max-width:1193px) {
    header ul li{
        padding: 0px 23px 1px 5px;
    }
    header ul li a{
        font-size: 13px;
    }
    header img{
        width: 185px;
        /* padding-left: 104px; */
    }
    header .img{
        padding-left: 93px;
    }
    .section2{
        padding: 5px 0px 5px 88.6px;
    }
    .form{
        margin-right: 7px;
    }
    .form .get{
        padding: 8px 122px 11px 10px;
    }
    .search p {
        margin-right: 9px;
        font-size: small;
    }
    .heart {
        margin:  0px;
    }
    .basket {
        padding: 13px 19px 13px 19px;
        margin-right: 4px;
    }
    .scales{
        margin-right: 7px;
    }

}
@media screen  and (min-width: 978px) and (Max-width:1108px)  {
    header ul li{
        padding: 0px 0px 1px 5px;
    }
    header ul li a{
        font-size: 13px;
    }
    header img{
        width: 165px;
        /* padding-left: 104px; */
    }
    header .img{
        padding-left: 79px;
    }
    .section2{
        padding: 5px 0px 5px 78.6px;
    }
    .form{
        margin-right: 7px;
    }
    .form .get{
        padding: 8.5px 85px 11px 10px;
    }
    .search p {
        margin-right: 9px;
        font-size: 10px;
    }
    .heart {
        margin:  0px;
    }
    .basket {
        padding: 13px 10px 13px 10px;
        margin-right: 4px;
    }
    .scales{
        margin-right: 7px;
    }
    .header1{
        padding: 1px 28px;
    }
}
@media screen  and (min-width: 915px) and (Max-width:977px)  {
    header ul li{
        padding: 0px 0px 1px 5px;
    }
    header ul li a{
        font-size: 13px;
    }
    header img{
        width: 165px;
        /* padding-left: 104px; */
    }
    header .img{
        padding-left: 79px;
    }
    .section2{
        padding: 5px 0px 5px 73.6px;
    }
    .form{
        margin-right: 7px;
    }
    .form .get{
        padding: 8.5px 33px 11px 10px;
    }
    .search p {
        margin-right: 9px;
        font-size: 10px;
    }
    .heart {
        margin:  0px;
    }
    .basket {
        padding: 13px 10px 13px 10px;
        margin-right: 4px;
    }
    .scales{
        margin-right: 7px;
    }
    .header1{
        padding: 1px 28px;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
}
@media screen  and (min-width: 815px) and (Max-width:914px)  {
    header ul li{
        padding: 0px 0px 1px 5px;
    }
    header ul li a{
        font-size: 13px;
    }
    header img{
        width: 165px;
        /* padding-left: 104px; */
    }
    header .img{
        padding-left: 79px;
    }
    .section2{
        padding: 5px 0px 5px 68.6px;
    }
    .form{
        margin-right: 7px;
    }
    .form .get{
        padding: 8.5px 33px 11px 10px;
    }
    .search p {
        margin-right: 9px;
        font-size: 10px;
    }
    .heart {
        margin:  0px;
    }
    .basket {
        padding: 13px 10px 13px 10px;
        margin-right: 4px;
    }
    .scales{
        margin-right: 7px;
    }
    .header1{
        padding: 1px 28px;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
}
@media screen  and (min-width: 713px) and (Max-width:814px)  {
    header ul li{
        padding: 0px 0px 1px 5px;
    }
    header ul li a{
        font-size: 13px;
    }
    header img{
        width: 165px;
        /* padding-left: 104px; */
    }
    header .img{
        padding-left: 79px;
    }
    .section2{
        padding: 5px 0px 5px 73.6px;
    }
    .form{
        margin-right: 7px;
    }
    .form .get{
        padding: 8.5px 33px 11px 10px;
    }
    .search p {
        margin-right: 9px;
        font-size: 10px;
    }
    .heart {
        margin:  0px;
    }
    .basket {
        padding: 13px 10px 13px 10px;
        margin-right: 4px;
    }
    .scales{
        margin-right: 7px;
    }
    .header1{
        padding: 1px 28px;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
}